[submodule "libraries/humla"]
	path = libraries/humla
	url = https://gitlab.com/quite/humla.git
[submodule "libraries/rimic"]
	path = libraries/rimic
	url = https://github.com/hiro2233/rimic_android.git
